@font-face {
    font-family: 'signikabold';
    src: url('../fonts/signika-bold-webfont.woff2') format('woff2'),
    url('../fonts/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('../fonts/signika-regular-webfont.woff2') format('woff2'),
    url('../fonts/signika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'remachine_script_personal_uRg';
    src: url('../fonts/remachinescript_personal_use-webfont.woff2') format('woff2'),
    url('../fonts/remachinescript_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url("../img/fondo_web.jpg");
    /*background-repeat: no-repeat;*/
    background-size: 100%;
    background-attachment: fixed;
    font-family: signikaregular;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px 0;
}

.container {
    flex: 1;
}

.navbar{
    background-color: rgb(255, 255, 255) !important;
    font-family: signikabold;
    font-size: 1.2em;
}

.nav-link{
    color: rgba(0, 0, 0, 0.8) !important;
}

.navbar-nav img {
    width: 40%;
}

.logoWebPhone {
    width: 80%
}

.custom-shadow {
    -webkit-box-shadow: 6px 6px 11px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 6px 6px 11px -5px rgba(0,0,0,0.53);
    box-shadow: 6px 6px 11px -5px rgba(0,0,0,0.53);
}

.publishButton {
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.publishButton :active,
.publishButton :hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}

.publishButton  span {
    background-color: black;
    padding: 16px 24px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.publishButton :hover span {
    background: none;
}

.publishButton :active {
    transform: scale(0.9);
}

.publishButton:active,
.publishButton.clicked {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}

.publishButton.clicked span {
    background: none;
}

.input-style {
    background-color: #ffffff;
    height: 40px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.input-style:focus {
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    outline-color: rgba(0,212,255,1);
    box-shadow: rgba(0,212,255,1);
    transition: .1s;
    transition-property: box-shadow;
}

.formPost{
    background-color: rgb(197,212,222)
}

.submitPostButton {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    width: 25%;
}

.submitPostButton:hover {
    color: #ffffff; /* Mantener el color del texto igual al color original */
}