{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        {{ form(form) }}
        {{ dump(posts) }}
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>




{% endblock %}
